<template>
    <section class="card">
        <div class="card-content">
          <b-skeleton height="200px" :active="loader"></b-skeleton>
            <div class="frame is-flex is-align-items-center" v-if="loader === false">
                <p class="mx-auto has-text-weight-bold is-size-5">Advertisement Slot</p>
            </div>
        </div>
    </section>
</template>
<script>
export default {
  data () {
    return {
      loader: true
    }
  },
  mounted () {
    setTimeout(() => {
      this.loader = !this.loader
    }, 3000)
  }
}
</script>
<style lang="scss" scoped>
.card{
    .card-content{
        .frame{
            height: 200px;
            background: #F3F3F3;
        }
    }
}
</style>
