<template>
    <section>
        <div class="card-content">
            <div class="is-flex is-flex-direction-row is-justify-content-space-between mb-4">
                <h1 class="title is-4">Berita Terkini</h1>
                <a href="/berita-terkini" class="has-text-weight-medium">
                    Lihat Lebih
                    <span class="mdi mdi-chevron-right mdi-24px"></span>
                </a>
            </div>
            <div class="media" v-for="item in 3" :key="item.id" v-show="loader">
                <div class="media-left mx-5">
                  <b-skeleton width="64px" height="64px" position="is-centered" :active="loader"></b-skeleton>
                </div>
                <div class="media-content is-align-self-center">
                   <b-skeleton size="is-large"></b-skeleton>
                   <b-skeleton size="is-large" width="70px" height="10px"></b-skeleton>
                </div>
            </div>
            <div class="media" v-for="item in latestNewsItem" :key="item.id" v-show="!loader">
                <div class="media-left frame ml-3">
                  <a :href="item.url">
                    <figure class="p-2" v-if="item.urlToImage !== undefined">
                        <img :src="item.urlToImage">
                    </figure>
                    <figure class="has-text-centered" v-else>
                        <img src="@/assets/default_topnews.png">
                    </figure>
                  </a>
                </div>
                <div class="media-content is-align-self-center">
                    <a :href="item.url" class="title is-6 mb-0" :title="item.title">{{item.title}}</a>
                    <p class="publisher">{{item.source.name}}</p>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      latestNewsItem: [],
      loader: true
    }
  },
  // mounted () {
  //   setTimeout(() => {
  //     this.loader = !this.loader
  //   }, 3 * 1000)
  // },
  created () {
    this.getLatestNews().then(() => {
      this.latestNewsItem = this.$store.state.latestNews
      if (this.latestNewsItem.length > 0) {
        this.loader = !this.loader
      }
    })
  },
  methods: {
    ...mapActions({
      getLatestNews: 'getLatestNews'
    })
  }
}
</script>
<style lang="scss" scoped>
.card-content{
  .frame{
    border: 1px solid #E0E0E0;
    border-radius: 10px;
    height: auto;
    figure {
      img{
        height: auto;
      }
    }
  }
    a{
        span{
            position: relative;
            top:6%;
        }
    }
}
</style>
