<template>
    <section>
        <div class="card-content">
             <h1 class="title is-4">Berita Populer</h1>
             <CardPopArticle/>
        </div>
    </section>
</template>
<script>
import CardPopArticle from '@/components/homepage/popArticleCard/cardPopArticle.vue'
export default {
  components: {
    CardPopArticle
  }
}
</script>
