<template>
    <section class="card" id="homeRecommend">
        <div class="card-content">
            <h1 class="title is-4">Rekomendasi untuk Anda</h1>
            <div class="media" v-for="index in 3" :key="index.id" v-show="loader">
              <div>
                  <figure class="has-text-centered mr-3">
                      <b-skeleton width="120px" height="60px" :active="loader"></b-skeleton>
                  </figure>
                </div>
                <div class="media-content is-align-self-center">
                    <b-skeleton height="30px" :active="loader"></b-skeleton>
                    <b-skeleton width="60px" :active="loader"></b-skeleton>
                </div>
            </div>
            <div v-show="!loader || !loaderMore">
                <div  class="media" v-for="item in items" :key="item.id">
                  <div :class="item.urlToImage === '' ? 'media-left frame ml-3 w-120' : 'media-left ml-3 w-120'">
                      <figure class="has-text-centered" v-if="item.urlToImage !== ''">
                          <a :href="item.url" :title="item.title">
                            <img :src="item.urlToImage">
                          </a>
                      </figure>
                      <figure class="has-text-centered p-2" v-else>
                          <a :href="item.url" :title="item.title">
                            <img src="@/assets/default_topnews.png">
                          </a>
                      </figure>
                  </div>
                  <div class="media-content is-align-self-center">
                      <a :href="item.url" :title="item.title" class="title is-5 mb-0">{{item.title}}</a>
                      <p class="publisher">{{item.source.name}}</p>
                  </div>
                </div>
                <div  class="media" v-for="item in moreItemRecommend" :key="item.id">
                  <div :class="item.urlToImage === '' ? 'media-left frame ml-3 w-120' : 'media-left ml-3 w-120'">
                      <figure class="has-text-centered" v-if="item.urlToImage !== ''">
                          <a :href="item.url" :title="item.title">
                            <img :src="item.urlToImage">
                          </a>
                      </figure>
                      <figure class="has-text-centered p-2" v-else>
                          <a :href="item.url" :title="item.title">
                            <img src="@/assets/default_topnews.png">
                          </a>
                      </figure>
                  </div>
                  <div class="media-content is-align-self-center">
                      <a :href="item.url" :title="item.title" class="title is-5 mb-0">{{item.title}}</a>
                      <p class="publisher">{{item.source.name}}</p>
                  </div>
                </div>
            </div>
            <div class="media pl-3" v-show="loaderMore">
              <div>
                  <figure class="has-text-centered mr-3">
                      <b-skeleton width="120px" height="60px" :active="loaderMore"></b-skeleton>
                  </figure>
                </div>
                <div class="media-content is-align-self-center">
                    <b-skeleton height="30px" :active="loaderMore"></b-skeleton>
                    <b-skeleton width="60px" :active="loaderMore"></b-skeleton>
                </div>
            </div>
        </div>
    </section>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  props: ['dataRecommendation'],
  data () {
    return {
      loader: true,
      loaderMore: false,
      items: [],
      moreItemRecommend: [],
      totalPage: 0,
      perPage: 3,
      page: 0
    }
  },
  created () {
    this.getRecommendation().then(() => {
      setTimeout(() => {
        this.loader = !this.loader
        for (var i = 0; i < 3; i++) {
          this.items.push(this.$store.state.recommendation[i])
        }
      }, 30 * 100)
    })
  },
  mounted () {
    // setTimeout(() => {
    //   this.loader = !this.loader
    // }, 2 * 100)
    window.onscroll = () => {
      if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        if (this.page < this.totalPage) {
          this.page++
          this.loadMore()
        }
      }
    }
    // Initially load some items.
    this.loadMore()
  },
  methods: {
    ...mapActions({
      getRecommendation: 'getRecommendation'
    }),
    paginate (items) {
      // console.log('pagination')
      var start = this.perPage * this.page
      this.moreItemRecommend = items.slice(3, start + this.perPage)
    },
    loadMore () {
      this.loaderMore = true
      setTimeout(e => {
        // if (this.page < totalPage) {
        this.paginate(this.$store.state.recommendation)
        this.totalPage = Math.ceil(this.$store.state.recommendation.length / 3)
        // for (var i = 0; i < 20; i++) {
        //   this.items.push(this.$store.state.recommendation)
        // }
        // }
        this.loaderMore = false
        // if (this.loaderMore === false) {
        //   window.scrollTo(0, document.documentElement.offsetHeight - 10)
        // }
      }, 3000)
    }
  }
}
</script>
<style lang="scss" scoped>
.card{
    .card-content{
        a{
            span{
                position: relative;
                top:6%;
            }
        }
        .media{
            .w-120 {
              width: 120px;
            }
            .media-content{
                p.title{
                    color:#4F4F4F;
                }
                p{
                    color:#979797;
                }
            }
        }
    }
}
</style>
