<template>
    <section class="card">
        <div class="card-content">
            <div class="is-flex is-flex-direction-row is-justify-content-space-between mb-4">
                <h1 class="title is-4 is-uppercase">Top News</h1>
                <a href="#" class="has-text-weight-medium">
                    Lihat Lebih
                    <span class="mdi mdi-chevron-right mdi-24px"></span>
                </a>
            </div>
            <div class="media" v-for="index in 3" :key="index">
                <div class="media-left frame p-4 ml-3">
                    <figure class="has-text-centered">
                        <img src="@/assets/default_topnews.png">
                    </figure>
                </div>
                <div class="media-content is-align-self-center">
                    <p class="title is-5 mb-0">Judul</p>
                    <p>Penerbit</p>
                </div>
            </div>
        </div>
    </section>
</template>
<style lang="scss" scoped>
.card{
    .card-content{
        a{
            span{
                position: relative;
                top:6%;
            }
        }
        .media{
            .media-content{
                p.title{
                    color:#4F4F4F;
                    font-size: 24px;
                }
                p{
                    color:#979797;
                    font-size:14px;
                }
            }
        }
    }
}
</style>
