
/*OVERRIDE BULMA COLOR*/
$primary:#EB5757;
$info:#2F80ED;

/*DEFAULT COLOR OF ChatAja*/
$red:#EB5757;
$blue:#2F80ED;
$blueLighter:#F2F6FD;
$greyLight: #F3F3F3;
$black10:#979797;
$carousel-arrow-bg: rgba(0,0,0,0.2);
$carousel-arrow-color: rgba(255,255,255,0.2);
$carousel-arrow-color-hover: rgba(255,255,255,1);