@import '_colors.scss';
hr.separator{
    border:5px solid $greyLight;
}
.content{
    p.title{
        color:#4F4F4F;
        // font-size: 24px;
    }
    p.publisher{
        color:#979797;
        font-size:14px;
    }
}
.card-content{
    .frame{
        border: 1px solid #E0E0E0;
        border-radius: 10px;
        height: 240px;
        figure {
          img{
            height: 240px;
          }
        }
      }
}
a.navbar-item {
    text-transform: uppercase;
    color:$black10;
}
a.navbar-item.active{
    color:$primary;
    border-bottom: 4px solid;
}
.media{
    .media-content{
        a.title{
            color:#4F4F4F;
            &:hover {
              color: #2F80ED;
            }
        }
        p.publisher{
            color:#979797;
            font-size: 14px;
        }
    }
}