// Override Buefy class
@import '_colors.scss';
.dropdown-menu{
    width: 768px;
    .dropdown-content{
        text-align: center;
        .dropdown-item{
            color:#979797;
            line-height: 3.5;
        }
    }
}
.carousel-items{
    border-radius:10px !important;
    height: 500px;
    .carousel-arrow{
        .icon{
            background:$carousel-arrow-bg;
            color:$carousel-arrow-color;
            border:transparent;
            &:hover{
                color:$carousel-arrow-color-hover;
            }
        }
    }
}
.carousel .carousel-indicator.is-inside{
    position: relative;
    .indicator-item{
        .indicator-style.is-dots{
            background-color: rgba(0,0,0,0.12);
            border:transparent;
        }
    }
    .indicator-item.is-active {
        background: #2F80ED;
        border-radius: 7px;
        width: 24px;
        .indicator-style.is-dots{
            background-color:transparent;
        }
    }
}
.carousel .carousel-indicator.has-background{
    background:transparent;
}
.carousel .carousel-indicator.has-background.is-inside.is-bottom{
    bottom:25px; 
}
.media{
    .frame{
        background-color: $greyLight;
        border-radius: 10px;
        width: 120px;
    }
}
.navbar-burger{
    &:hover{
        background: transparent;
        color: #EB5757;
        margin: 5px;
    }
}