<template>
    <section>
        <h1 class="title is-4 p-5">Update COVID-19</h1>
        <section id="global" class="mb-6">
        <h1 class="title is-5 has-text-centered">Data Global</h1>
          <article class="columns">
            <div class="column has-text-centered">
              {{$store.state.corona.global.positif}}
              <p>Kasus Positif</p>
            </div>
            <div class="column has-text-centered">
              {{$store.state.corona.global.meninggal}}
              <p>Meninggal Dunia</p>
            </div>
            <div class="column has-text-centered">
              {{$store.state.corona.global.sembuh}}
              <p>Sembuh</p>
            </div>
          </article>
        </section>
        <section id="indonesia" class="my-5 pb-5">
          <h1 class="title is-5 has-text-centered">Indonesia</h1>
         <article class="columns">
            <div class="column has-text-centered">
              {{$store.state.corona.indo.positif}}
              <p>Kasus Positif</p>
            </div>
            <div class="column has-text-centered">
              {{$store.state.corona.indo.meninggal}}
              <p>Meninggal Dunia</p>
            </div>
            <div class="column has-text-centered">
              {{$store.state.corona.indo.sembuh}}
              <p>Sembuh</p>
            </div>
          </article>
        </section>
        <section class="has-text-centered has-text-white pb-5">
          <p class="has-text-weight-bold">Ga usah kemana-mana #DiRumahAja</p>
          <small>Data diupdate pada {{updated}} &middot; Sumber data:
            <a href="https://kawalcorona.com/" target="_blank" title="kawalcorona.com">kawalcorona.com</a>
          </small>
        </section>
    </section>
</template>
<script>
import { mapActions } from 'vuex'
import moment from 'moment'
moment.locale('id')
export default {
  data () {
    return {
      updated: moment().format('Do MMMM YYYY')
    }
  },
  created () {
    this.globalCovid()
    this.indoCovid()
  },
  methods: {
    ...mapActions({
      globalCovid: 'getCoronaData',
      indoCovid: 'getIndoCorona'
    })
  }
}
</script>
<style lang="scss" scoped>
 section{
     background:#2F80ED;
     border-radius: 4px;
     h1.title {
        color:#FFF
     }
     small{
       a{
         color:#FFF;
         text-decoration: none;
         &:hover{
           text-decoration: underline;
         }
       }
     }
     #global, #indonesia {
       color:#FFF;
       font-weight: bold;
       font-size:20px;
     }
 }
</style>
