<template>
  <section id="nasional">
    <ErrorHandling v-if="error.status" :msg="error.msg" :fromSearch="error.fromSearch" :loader="loader"/>
    <!-- <h1 class="is-5 title" v-if="error.status">
      {{error.msg}}
    </h1> -->
    <OddEvenCards v-if="loader"/>
    <!-- <div class="columns is-mobile" v-show="!loader"> -->
        <!-- <div class="column"> -->
        <section id="odd" class="is-flex is-flex-wrap-wrap mt-4" v-if="loader === false">
            <div class="mb-4 is-flex-50 pr-3" v-for="item in firstLoad" :key="item.id">
                <a :href="item.link[0]" :title="item.title[0]" class="card-content pl-0">
                    <div class="card-image frame is-flex">
                        <figure class="mx-auto">
                            <img :src="item.img" />
                        </figure>
                    </div>
                    <div class="content py-4">
                        <p class="title is-6 mb-0 elipsis3" :title="item.title[0]">{{item.title[0]}}</p>
                        <p class="publisher">{{item.from}}</p>
                    </div>
                </a>
            </div>
            <div class="mb-4 is-flex-50 pr-3" v-for="item in moreNasionalItem" :key="item.id">
                <a :href="item.link[0]" :title="item.title[0]" class="card-content pl-0">
                    <div class="card-image frame is-flex">
                        <figure class="mx-auto">
                            <img :src="item.img" />
                        </figure>
                    </div>
                    <div class="content py-4">
                        <p class="title is-6 mb-0 elipsis3" :title="item.title[0]">{{item.title[0]}}</p>
                        <p class="publisher">{{item.from}}</p>
                    </div>
                </a>
            </div>
            <div v-for="index in 4" :key="index.id" class="is-flex-50 pr-3 mb-5">
              <b-skeleton height="240px" :active="loaderMore"></b-skeleton>
              <b-skeleton :active="loaderMore"></b-skeleton>
              <b-skeleton width="70px" :active="loaderMore"></b-skeleton>
            </div>
        </section>
        <!-- </div> -->
    <!-- </div> -->
      <Footer/>
  </section>
</template>
<script>
import Footer from '@/components/Footer.vue'
import ErrorHandling from '@/components/utilities/errorHandling.vue'
import OddEvenCards from '../utilities/oddEvenCards.vue'
export default {
  metaInfo () {
    return {
      title: this.$route.query.key !== undefined ? 'Hasil pencarian ' + this.$route.query.key : this.getCategoryName,
      titleTemplate: '%s - ChatAja News',
      meta: [
        { name: 'author', content: 'ChatAja Indonesia' },
        { name: 'description', content: 'Portal Berita & Informasi terkini' },
        { name: 'keywords', content: `${this.$route.query.key !== undefined ? this.$route.query.key : this.getCategoryName}, chataja, chat, news, berita, portal, informasi, terkini` }
      ]
    }
  },
  props: ['nasional', 'olahraga', 'scitech', 'lifestyle', 'games', 'search'],
  components: {
    Footer,
    ErrorHandling,
    OddEvenCards
  },
  data () {
    return {
      loader: true,
      loaderMore: true,
      error: {
        status: false,
        fromSearch: false,
        msg: ''
      },
      firstLoad: [],
      moreNasionalItem: [],
      page: 0,
      totalPage: 0,
      perPage: {
        odd: 4,
        even: 2
      },
      start: 0,
      totalDataSearch: 0
    }
  },
  computed: {
    getCategoryName () {
      var catName = ''
      if (Object.keys(this.$route.params).length !== 0) {
        catName = this.$route.params.slug.split('-')
        for (var i = 0; i < catName.length; i++) {
          catName[i] = catName[i][0].toUpperCase() + catName[i].substr(1)
        }
      }
      return catName.join(' ')
    }
  },
  mounted () {
    document.addEventListener('scroll', () => {
      if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        // if (this.page <= this.totalPage) {
        if (this.page < this.totalPage) {
          this.page++
          this.loadMore()
        }
      }
    })
    this.loadMore()
  },
  created () {
    this.error.status = false
    this.error.fromSearch = false
    if (Object.keys(this.$route.params).length !== 0) {
      this.fetchDataFirst()
    }
  },
  methods: {
    fetchDataFirst () {
      setTimeout(() => {
        if (Object.keys(this.$route.params).length !== 0) {
          var slug = this.$route.params.slug
          for (var i = 0; i < 4; i++) {
            if (slug === 'berita-nasional') {
              if (this.nasional.length > 0) {
                this.firstLoad.push(this.nasional[i])
              } else {
                this.error.status = true
                this.error.msg = 'Maaf, terjadi kesalahan pada sumber berita :('
              }
            } else if (slug === 'olahraga') {
              this.firstLoad.push(this.olahraga[i])
            } else if (slug === 'sci-tech') {
              if (this.scitech.length > 0) {
                this.firstLoad.push(this.scitech[i])
              } else {
                this.error.status = true
                this.error.msg = 'Maaf, terjadi kesalahan pada sumber berita :('
              }
            } else if (slug === 'lifestyle') {
              if (this.lifestyle.length > 0) {
                this.firstLoad.push(this.lifestyle[i])
              } else {
                this.error.status = true
                this.error.msg = 'Maaf, terjadi kesalahan pada sumber berita :('
              }
            } else if (slug === 'games') {
              if (this.games.length > 0) {
                this.firstLoad.push(this.games[i])
              } else {
                this.error.status = true
                this.error.msg = 'Maaf, terjadi kesalahan pada sumber berita :('
              }
            }
          }
        }
        this.loaderMore = false
        this.loader = false
      }, 30 * 100)
    },
    paginate (items) {
      this.start = this.perPage.odd * this.page
      this.moreNasionalItem = items.slice(4, this.start + this.perPage.odd)
    },
    paginateSearch (items) {
      this.start = this.perPage.odd * this.page
      this.moreNasionalItem = items.slice(4, this.start + this.perPage.odd)
    },
    loadMore () {
      var slug = this.$route.params.slug
      this.loaderMore = true
      setTimeout(() => {
        if (Object.keys(this.$route.params).length !== 0) {
          if (slug === 'berita-nasional') {
            this.paginate(this.nasional)
            this.totalPage = Math.ceil(this.nasional.length / 4)
          } else if (slug === 'olahraga') {
            this.paginate(this.olahraga)
            this.totalPage = Math.ceil(this.olahraga.length / 4)
          } else if (slug === 'sci-tech') {
            this.paginate(this.scitech)
            this.totalPage = Math.ceil(this.scitech.length / 4)
          } else if (slug === 'lifestyle') {
            this.paginate(this.lifestyle)
            this.totalPage = Math.ceil(this.lifestyle.length / 4)
          } else if (slug === 'games') {
            this.paginate(this.games)
            this.totalPage = Math.ceil(this.games.length / 4)
          }
        } else {
          this.paginateSearch(this.search)
          this.totalPage = Math.ceil(this.search.length / 4)
        }
        this.loaderMore = false
      }, 3000)

      // return this.nasionalItem
    }
  },
  watch: {
    search: {
      handler (newData, o) {
        // Handling ketika user klik history search
        this.firstLoad = []
        this.moreNasionalItem = []
        this.page = 0
        this.totalPage = Math.ceil(newData.length / 4)
        if (newData.length >= 3) {
          this.loader = true
          for (var i = 0; i < 4; i++) {
            this.firstLoad.push(newData[i])
          }
          setTimeout(() => {
            this.loader = false
          }, 30 * 100)
        } else if (newData.length >= 2 && newData.length < 3) {
          this.firstLoad = newData
          this.loader = false
        } else {
          this.error.status = true
          this.error.fromSearch = true
          this.error.msg = 'Pencarian tidak ditemukan'
        }
      },
      deep: true
    },
    $route () {
      // Handling ketika user melakukan search melalui input
      this.loader = true
      this.firstLoad = []
      this.error.status = false
      this.error.msg = ''
      setTimeout(() => {
        this.totalDataSearch = this.search.length
        if (this.totalDataSearch === 0) {
          this.error.status = true
          this.error.fromSearch = true
          this.error.msg = 'Pencarian tidak ditemukan'
        }
        this.loader = false
      }, 30 * 100)
    }
  }
}
</script>
<style lang="scss" scoped>
.is-flex-50 {
  flex-basis: 50%;
}
    .elipsis3{
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
    .frame{
        // height: 240px;
        // background-color: #F3F3F3;
        figure {
          img{
            height: 240px;
          }
        }
    }
    a {
      .content {
        p.title{
          &:hover {
            color: #2F80ED;
          }
        }
        .title.elipsis3{
          -webkit-line-clamp: 3;
        }
      }
    }
</style>
