<template>
  <section id="nasional">
    <ErrorHandling v-if="error.status" :msg="error.msg" :fromSearch="error.fromSearch" :loader="loader"/>
    <!-- <h1 class="is-5 title" v-if="error.status">
      {{error.msg}}
    </h1> -->
    <OddEvenCards v-if="loader"/>
    <div class="columns is-mobile" v-show="!loader">
          <div class="column">
            <section id="odd">
              <div class="mb-4" v-for="item in firstLoad.odd" :key="item.id">
                  <a :href="item.link[0]" :title="item.title[0]" class="card-content pl-0">
                      <div class="card-image frame is-flex">
                          <figure class="mx-auto">
                              <img :src="item.img" />
                          </figure>
                      </div>
                      <div class="content p-4">
                          <p class="title is-6 mb-0 elipsis3" :title="item.title[0]">{{item.title[0]}}</p>
                          <p class="publisher">{{item.from}}</p>
                      </div>
                  </a>
              </div>
              <div class="mb-4" v-for="item in moreNasionalItem.odd" :key="item.id">
                  <a :href="item.link[0]" :title="item.title[0]" class="card-content pl-0">
                      <div class="card-image frame is-flex">
                          <figure class="mx-auto">
                              <img :src="item.img" />
                          </figure>
                      </div>
                      <div class="content p-4">
                          <p class="title is-6 mb-0 elipsis3" :title="item.title[0]">{{item.title[0]}}</p>
                          <p class="publisher">{{item.from}}</p>
                      </div>
                  </a>
              </div>
              <div v-for="index in 1" :key="index.id" class="mb-5">
                <b-skeleton height="240px" :active="loaderMore"></b-skeleton>
                <b-skeleton :active="loaderMore"></b-skeleton>
                <b-skeleton width="70px" :active="loaderMore"></b-skeleton>
              </div>
          </section>
          </div>
          <div class="column">
           <section id="even">
              <div class="mb-4" v-for="item in firstLoad.even" :key="item.id">
                  <a :href="item.link[0]" :title="item.title[0]" class="card-content pl-0">
                      <div class="card-image frame is-flex">
                          <figure class="mx-auto">
                              <img :src="item.img" />
                          </figure>
                      </div>
                      <div class="content p-4">
                          <p class="title is-6 mb-0 elipsis3" :title="item.title[0]">{{item.title[0]}}</p>
                          <p class="publisher">{{item.from}}</p>
                      </div>
                  </a>
              </div>
              <div class="mb-4" v-for="item in moreNasionalItem.even" :key="item.id">
                  <a :href="item.link[0]" :title="item.title[0]" class="card-content pl-0">
                      <div class="card-image frame is-flex">
                          <figure class="mx-auto">
                              <img :src="item.img" />
                          </figure>
                      </div>
                      <div class="content p-4">
                          <p class="title is-6 mb-0 elipsis3" :title="item.title[0]">{{item.title[0]}}</p>
                          <p class="publisher">{{item.from}}</p>
                      </div>
                  </a>
              </div>
              <div v-for="index in 1" :key="index.id" class="mb-5">
                <b-skeleton height="240px" :active="loaderMore"></b-skeleton>
                <b-skeleton :active="loaderMore"></b-skeleton>
                <b-skeleton width="70px" :active="loaderMore"></b-skeleton>
              </div>
            </section>
          </div>
    </div>
      <Footer/>
  </section>
</template>
<script>
import Footer from '@/components/Footer.vue'
import ErrorHandling from '@/components/utilities/errorHandling.vue'
import OddEvenCards from '../utilities/oddEvenCards.vue'
export default {
  metaInfo () {
    return {
      title: this.$route.query.key !== undefined ? 'Hasil pencarian ' + this.$route.query.key : this.getCategoryName,
      titleTemplate: '%s - ChatAja News',
      meta: [
        { name: 'author', content: 'ChatAja Indonesia' },
        { name: 'description', content: 'Portal Berita & Informasi terkini' },
        { name: 'keywords', content: `${this.$route.query.key !== undefined ? this.$route.query.key : this.getCategoryName}, chataja, chat, news, berita, portal, informasi, terkini` }
      ]
    }
  },
  props: ['nasional', 'olahraga', 'scitech', 'lifestyle', 'games', 'search'],
  components: {
    Footer,
    ErrorHandling,
    OddEvenCards
  },
  data () {
    return {
      loader: true,
      loaderMore: true,
      error: {
        status: false,
        fromSearch: false,
        msg: ''
      },
      firstLoad: {
        even: [],
        odd: []
      },
      moreNasionalItem: {
        even: [],
        odd: []
      },
      page: 0,
      totalPage: 0,
      perPage: {
        odd: 2,
        even: 2
      },
      start: 0,
      totalDataSearch: 0
    }
  },
  computed: {
    getCategoryName () {
      var catName = ''
      if (Object.keys(this.$route.params).length !== 0) {
        catName = this.$route.params.slug.split('-')
        for (var i = 0; i < catName.length; i++) {
          catName[i] = catName[i][0].toUpperCase() + catName[i].substr(1)
        }
      }
      return catName.join(' ')
    }
  },
  mounted () {
    document.addEventListener('scroll', () => {
      if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        if (this.page <= this.totalPage) {
          this.page++
          this.loadMore()
        }
      }
    })
    this.loadMore()
  },
  created () {
    this.error.status = false
    this.error.fromSearch = false
    this.fetchDataFirst()
  },
  methods: {
    fetchDataFirst () {
      setTimeout(() => {
        if (Object.keys(this.$route.params).length !== 0) {
          var slug = this.$route.params.slug
          for (var i = 0; i < 2; i++) {
            if (slug === 'berita-nasional') {
              if (this.nasional.even.length > 0) {
                this.firstLoad.even.push(this.nasional.even[i])
                this.firstLoad.odd.push(this.nasional.odd[i])
              } else {
                this.error.status = true
                this.error.msg = 'Maaf, terjadi kesalahan pada sumber berita :('
              }
            } else if (slug === 'olahraga') {
              this.firstLoad.even.push(this.olahraga.even[i])
              this.firstLoad.odd.push(this.olahraga.odd[i])
            } else if (slug === 'sci-tech') {
              if (this.scitech.even.length > 0) {
                this.firstLoad.even.push(this.scitech.even[i])
                this.firstLoad.odd.push(this.scitech.odd[i])
              } else {
                this.error.status = true
                this.error.msg = 'Maaf, terjadi kesalahan pada sumber berita :('
              }
            } else if (slug === 'lifestyle') {
              if (this.firstLoad.odd.length > 0) {
                this.firstLoad.even.push(this.lifestyle.even[i])
                this.firstLoad.odd.push(this.lifestyle.odd[i])
              } else {
                this.error.status = true
                this.error.msg = 'Maaf, terjadi kesalahan pada sumber berita :('
              }
            } else if (slug === 'games') {
              this.firstLoad.even.push(this.games.even[i])
              this.firstLoad.odd.push(this.games.odd[i])
            }
          }
        }
        this.loaderMore = false
        this.loader = false
      }, 30 * 100)
    },
    paginateOdd (items) {
      this.start = this.perPage.odd * this.page
      this.moreNasionalItem.odd = items.slice(2, this.start + this.perPage.odd)
    },
    paginateEven (items) {
      this.start = this.perPage.even * this.page
      this.moreNasionalItem.even = items.slice(2, this.start + this.perPage.even)
    },
    paginateOddSearch (items) {
      this.start = this.perPage.odd * this.page
      this.moreNasionalItem.odd = items.slice(2, this.start + this.perPage.odd)
    },
    paginateEvenSearch (items) {
      this.start = this.perPage.even * this.page
      this.moreNasionalItem.even = items.slice(2, this.start + this.perPage.even)
    },
    loadMore () {
      var slug = this.$route.params.slug
      this.loaderMore = true
      setTimeout(() => {
        if (Object.keys(this.$route.params).length !== 0) {
          if (slug === 'berita-nasional') {
            this.paginateOdd(this.nasional.odd)
            this.paginateEven(this.nasional.even)
            this.totalPage = Math.ceil(this.nasional.even.length / 2)
          } else if (slug === 'olahraga') {
            this.paginateOdd(this.olahraga.odd)
            this.paginateEven(this.olahraga.even)
            this.totalPage = Math.ceil(this.olahraga.even.length / 2)
          } else if (slug === 'scitech') {
            this.paginateOdd(this.scitech.odd)
            this.paginateEven(this.scitech.even)
            this.totalPage = Math.ceil(this.scitech.even.length / 2)
          } else if (slug === 'lifestyle') {
            this.paginateOdd(this.lifestyle.odd)
            this.paginateEven(this.lifestyle.even)
            this.totalPage = Math.ceil(this.lifestyle.even.length / 2)
          } else if (slug === 'games') {
            this.paginateOdd(this.games.odd)
            this.paginateEven(this.games.even)
            this.totalPage = Math.ceil(this.games.even.length / 2)
          }
        } else {
          this.paginateOddSearch(this.search.odd)
          this.paginateEvenSearch(this.search.even)
          this.totalPage = Math.ceil(this.search.even.length / 2)
        }
        this.loaderMore = false
      }, 3000)

      // return this.nasionalItem
    }
  },
  watch: {
    search: {
      handler (newData, o) {
        // mainin bagian ini
        this.firstLoad.odd = []
        this.firstLoad.even = []
        this.moreNasionalItem.even = []
        this.moreNasionalItem.odd = []
        this.page = 0
        this.totalPage = Math.ceil(newData.even.length / 2)
        if (newData.even.length + newData.odd.length > 0) {
          newData.even.forEach((item, index) => {
            if (index < 2) {
              this.firstLoad.even.push(item)
            }
          })
          newData.odd.forEach((item, index) => {
            if (index < 2) {
              this.firstLoad.odd.push(item)
            }
          })
        } else {
          this.error.status = true
          this.error.fromSearch = true
          this.error.msg = 'Pencarian tidak ditemukan'
        }
      },
      deep: true
    },
    $route () {
      this.loader = true
      this.firstLoad.odd = []
      this.firstLoad.even = []
      this.error.status = false
      this.error.msg = ''
      setTimeout(() => {
        this.totalDataSearch = this.search.even.length + this.search.odd.length
        if (this.totalDataSearch === 0) {
          this.error.status = true
          this.error.fromSearch = true
          this.error.msg = 'Pencarian tidak ditemukan'
        }
        this.loader = false
      }, 30 * 100)
    }
  }
}
</script>
<style lang="scss" scoped>
    .elipsis3{
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
    .frame{
        // height: 240px;
        // background-color: #F3F3F3;
        figure {
          img{
            height: 240px;
          }
        }
    }
    a {
      .content {
        p.title{
          &:hover {
            color: #2F80ED;
          }
        }
        .title.elipsis3{
          -webkit-line-clamp: 3;
        }
      }
    }
</style>
