<template>
  <section class="mx-4">
      <div class="is-flex is-justify-content-space-between">
        <h1 class="title is-4">{{getCategoryName}}</h1>
        <p v-if="isSearchPage">Terdapat {{$store.state.searchTotal}} berita</p>
      </div>
      <CategoryItems
        :nasional = "beritaNasional"
        :olahraga = "beritaOlahraga"
        :scitech = "beritaSciTech"
        :lifestyle = "beritaLifestyle"
        :games = "beritaGames"
        :search = "searchNews"
      />
  </section>
</template>
<script>
import CategoryItems from '@/components/cards/categoryItems.vue'
import { mapActions } from 'vuex'
export default {
  components: {
    CategoryItems
  },
  data () {
    return {
      beritaNasional: [],
      beritaOlahraga: [],
      beritaSciTech: [],
      beritaLifestyle: [],
      beritaGames: [],
      searchNews: []
    }
  },
  computed: {
    getCategoryName () {
      var catName = ''
      if (Object.keys(this.$route.params).length !== 0) {
        catName = this.$route.params.slug.split('-')
        for (var i = 0; i < catName.length; i++) {
          catName[i] = catName[i][0].toUpperCase() + catName[i].substr(1)
        }
        return catName.join(' ')
      } else {
        catName = 'Hasil pencarian "' + this.$route.query.key + '"'
        return catName
      }
    },
    isSearchPage () {
      return Object.keys(this.$route.params).length === 0
    }
  },
  created () {
    this.fetchData()
  },
  methods: {
    ...mapActions({
      // Sementara pakai yang getHeadline
      getBeritaNasional: 'getBeritaNasional',
      getBeritaOlahraga: 'getBeritaOlahraga',
      getBeritaSciTech: 'getBeritaSciTech',
      getBeritaLifestyle: 'getBeritaLifestyle',
      getSearchNews: 'searchNews',
      getBeritaGames: 'getBeritaGames'
    }),
    fetchData () {
      // Add condtion base on slug
      if (Object.keys(this.$route.params).length !== 0) {
        if (this.$route.params.slug === 'berita-nasional') {
          this.getBeritaNasional().then(() => {
            this.beritaNasional = this.$store.state.category.beritaNasional
          })
        } else if (this.$route.params.slug === 'olahraga') {
          this.getBeritaOlahraga().then(() => {
            this.beritaOlahraga = this.$store.state.category.beritaOlahraga
          })
        } else if (this.$route.params.slug === 'sci-tech') {
          this.getBeritaSciTech().then(() => {
            this.beritaSciTech = this.$store.state.category.beritaSciTech
          })
        } else if (this.$route.params.slug === 'lifestyle') {
          this.getBeritaLifestyle().then(() => {
            this.beritaLifestyle = this.$store.state.category.beritaLifestyle
          })
        } else if (this.$route.params.slug === 'games') {
          this.getBeritaGames().then(() => {
            this.beritaGames = this.$store.state.category.beritaGames
          })
        }
      } else {
        this.getSearchNews({ search: this.$route.query.key }).then(() => {
          // this.searchNews = this.$store.state.searchData
          this.searchNews = this.$store.state.searchData
        })
      }
    },
    resetAllItems () {
      this.searchNews.length = 0
      this.beritaLifestyle = []
      this.beritaOlahraga = []
      this.beritaNasional = []
      this.beritaSciTech = []
      this.beritaGames = []
    }
  },
  watch: {
    $route () {
      // if (this.$route.query.key !== undefined) {
      //   if (this.searchNews.length > 0) {
      // this.beritaNasional.odd.length = 0
      // this.beritaNasional.even.length = 0
      // this.beritaOlahraga.odd.length = 0
      // this.beritaOlahraga.even.length = 0
      // this.beritaSciTech.odd.length = 0
      // this.beritaSciTech.even.length = 0
      //   }
      // }
      this.resetAllItems()
      this.fetchData()
    }
  }
}
</script>
