<template>
  <section>
      <Navbar class="mb-5"/>
      <Category/>
  </section>
</template>
<script>
import Navbar from '@/components/Navbar.vue'
import Category from '@/components/category'
export default {
  components: {
    Navbar,
    Category
  }
}
</script>
