<template>
  <section>
      <Navbar class="mb-5"/>
      <LatestNews/>
  </section>
</template>
<script>
import Navbar from '@/components/Navbar.vue'
import LatestNews from '@/components/latestNews'
export default {
  components: {
    Navbar,
    LatestNews
  }
}
</script>
