<template>
  <section>
      <Navbar class="mb-5"/>
      <Popular/>
  </section>
</template>
<script>
import Navbar from '@/components/Navbar.vue'
import Popular from '@/components/popular'
export default {
  components: {
    Navbar,
    Popular
  }
}
</script>
