<template>
    <section class="has-text-centered my-5">
        <p>&copy; ChatAja Indonesia </p>
    </section>
</template>
<style lang="scss" scoped>
@import '../assets/scss/_colors.scss';
p{
    color:$red;
    font-size: 14px;
}
</style>
