<template>
  <div>
      <Navbar />
      <section id="components">
        <section id="headline" class="mt-5">
            <b-skeleton size="is-large" :active="loader" height="560px"></b-skeleton>
            <b-carousel
              v-show = "!loader"
              :indicator="indicator"
              :indicator-background="indicatorBackground"
              :indicator-inside="indicatorInside"
              :indicator-mode="indicatorMode"
              :indicator-position="indicatorPosition"
              :pause-info = "false"
              :arrow-hover="false"
              :icon-size="iconSize"
              :has-drag="true"
              class="mt-5 px-5 pt-3">
              <b-carousel-item v-for="(carousel, i) in carouselItem" :key="i" class="rounded pointer">
                  <!-- <section class="hero is-medium is-primary"> -->
                  <a :href="carousel.url">
                    <span class="image">
                        <img :src="carousel.urlToImage">
                      </span>
                      <div class="headlineText p-5">
                          <h1 class="title mb-0">{{carousel.title}}</h1>
                          <!-- <p>{{carousel.category_ca}}</p> -->
                      </div>
                  </a>
              </b-carousel-item>
          </b-carousel>
        </section>
        <LatestNews class="mt-5"/>
        <hr class="separator">
        <PopularArticle />
        <HomepageAds/>
        <Recommendation/>
        <Footer/>
      </section>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import Navbar from '@/components/Navbar.vue'
import LatestNews from '@/components/homepage/latestNews.vue'
import PopularArticle from '@/components/homepage/popularArticle.vue'
import HomepageAds from '@/components/homepage/homepageAds.vue'
import Recommendation from '@/components/homepage/recommendation.vue'
import Footer from '@/components/Footer.vue'
// import moment from 'moment'

export default {
  components: {
    Navbar,
    LatestNews,
    PopularArticle,
    HomepageAds,
    Recommendation,
    Footer
  },
  metaInfo: {
    title: 'ChatAja News',
    titleTemplate: '%s - Portal Berita & Informasi',
    meta: [
      { name: 'author', content: 'ChatAja Indonesia' },
      { name: 'description', content: 'Portal Berita & Informasi terkini' },
      { name: 'keywords', content: 'chataja, chat, news, berita, portal, informasi, terkini' }
    ]
  },
  mounted () {
    setTimeout(() => {
      this.loader = !this.loader
    }, 3 * 1000)
  },
  data () {
    return {
      loader: true,
      indicator: true,
      indicatorBackground: true,
      indicatorInside: true,
      indicatorMode: 'hover',
      indicatorPosition: 'is-bottom',
      iconSize: 'is-large',
      carouselItem: [],
      carousels: [
        { title: 'Slide 1', color: 'info' },
        { title: 'Slide 2', color: 'success' },
        { title: 'Slide 3', color: 'warning' },
        { title: 'Slide 4', color: 'danger' }
      ]
    }
  },
  async created () {
    this.getHeadline().then(() => {
      this.carouselItem = this.$store.state.headline
    })
    // await this.getHeadline().then(() => {
    //   this.carouselItem = this.$store.state.headline
    //   this.carouselItem.sort((a, b) => {
    //     return moment(b.pubDate[0]).format('YYYYMMDD') - moment(a.pubDate[0]).format('YYYYMMDD')
    //   })
    //   this.carouselItem.forEach(item => {
    //     if (item.from === 'Uzone' || item.from === 'indoesports') {
    //       item.img = item.enclosure[0].$.url
    //     } else if (item.from === 'Mojok' || item.from === 'Hipwee') {
    //       if (item.from === 'Mojok') {
    //         var img = item.description
    //         var regex = /height="500" src="\s*(.*?)\s*" class/g
    //         var m = regex.exec(img)
    //         if (m !== null) {
    //           item.img = m[1]
    //         } else {
    //           item.img = require('../assets/logo.svg')
    //         }
    //       } else {
    //         var imgHipwee = item.description
    //         var getImg = /height="203" src="\s*(.*?)\s*" class/g
    //         var n = getImg.exec(imgHipwee)
    //         if (n !== null) {
    //           item.img = n[1]
    //         } else {
    //           item.img = require('../assets/logo.svg')
    //         }
    //       }
    //     } else if (item.from === 'Opini') {
    //       item.img = item['image:image'][0]._
    //     } else if (item.from === 'Kompas') {
    //       item.img = item.thumb
    //     } else {
    //       item.img = require('../assets/logo.svg')
    //     }
    //   })
    // })
  },
  methods: {
    ...mapActions({
      getHeadline: 'getHeadline'
    })
  }
}
</script>
<style lang="scss" scoped>
section#headline{
  max-height:560px;
  background: #F2F6FD;
  border-radius: 10px;
  .image img{
    height: 475px;
  }
  .headlineText{
    position: absolute;
    bottom: 25px;
    width: 100%;
    color:#FFF;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2%, rgba(0, 0, 0, 0.8) 59%);
    h1.title{
      font-size: 24px;
      color:#FFF;
    }
    p{
      font-size:16px;
    }
  }
}
</style>
