<template>
    <section>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand w-100">
              <a class="navbar-item" href="/">
                <img src="@/assets/logo.svg">
              </a>
              <div class="is-flex w-100">
                <div class="control has-icons-right is-align-self-center w-100">
                  <input id="inputSearch" class="input is-rounded" type="text" placeholder="Cari Berita..."
                    @focus="focusSearch = true; historyPanel = true"
                    @keyup.enter = "searching"
                    @click.stop = "historyPanel = true"
                    v-model="searchNewsData">
                  <span class="icon mdi mdi-magnify mdi-24px is-right" v-if="focusSearch === false"></span>
                  <span class="icon mdi mdi-close-circle mdi-24px is-right pointer" @click="closeFocus" v-else></span>
                </div>
                <!-- <div class="buttons">
                  <a class="button is-primary is-fullwidth">
                      <strong>Masuk</strong>
                  </a>
                </div> -->
              </div>
              <a role="button" :class="burgerMenu === false ? 'navbar-burger burger is-align-self-center' : 'navbar-burger burger is-active is-align-self-center'" aria-label="menu" @click="burgerMenu = !burgerMenu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
          </div>
          <div id="navbarBasicExample" :class="burgerMenu === false ? 'navbar-menu' : 'navbar-menu is-active'">
              <div class="navbar-end">
                <div class="navbar-item">
                    <a :href="'/category/'+item.slug" class="navbar-item is-hidden-desktop" v-for="item in slidingMenuList" :key="item.id">
                      {{item.label}}
                    </a>
                </div>
              </div>
          </div>
        </nav>
        <section class="d-flex is-hidden-mobile is-hidden-tablet-only">
          <b-dropdown aria-role="list">
            <button class="button btnCategory" slot="trigger" slot-scope="{ active }">
                <span>Kategori</span>
                <span :class="active ? 'mdi mdi-chevron-up mdi-24px':'mdi mdi-chevron-down mdi-24px'"></span>
                <!-- <b-icon :icon="active ? 'menu-up' : 'menu-down'"></b-icon> -->
            </button>
            <div class="is-flex is-flex-wrap-wrap">
               <a :href="'/category/'+category.slug" :title="category.label" v-for="category in categoryMenuList" :key="category.id" class="is-flex-50">
                  <b-dropdown-item aria-role="listitem">
                    {{category.label}}
                  </b-dropdown-item>
                </a>
            </div>
          </b-dropdown>
          <div class="wrappingMenuCategory">
            <div class="is-flex is-justify-content-space-between">
              <button class="button is-rounded buttonNextPrev is-small"><span class="mdi mdi-chevron-left mdi-24px pointer"></span></button>
              <button class="button is-rounded buttonNextPrev is-small"><span class="mdi mdi-chevron-right mdi-24px pointer"></span></button>
            </div>
            <div class="navbar-start">
              <a :href="'/category/'+item.slug" :class="$route.params.slug === item.slug ? 'navbar-item active' : 'navbar-item'" v-for="item in categoryMenuList" :key="item.id">
                {{item.label}}
              </a>
            </div>
          </div>
        </section>
        <section id="historyModal" v-if="historyPanel && historySearch.length > 0"  v-click-outside="hideHistoryPanel">
          <div class="modal-content">
            <section class="modal-title">
              <div class="is-flex is-justify-content-space-between">
                <p class="is-uppercase">Riwayat Pencarian</p>
                <p class="is-capitalized pointer has-text-right" @click="clearHistory">hapus riwayat pencarian</p>
              </div>
            </section>
            <section class="modal-body">
              <p v-show="historySearch.length === 0">Riwayat pencarian tidak ditemukan</p>
              <div class="is-flex is-justify-content-space-between" v-for="item in historySearch" :key="item.id">
                <router-link :to="{ path: '/search', query: { key: item }}">{{item}}</router-link>
                <span class="mdi mdi-close" @click="removeHistory(item)"></span>
              </div>
            </section>
          </div>
        </section>
    </section>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  directives: {
    clickOutside: {
      bind: function (el, binding, vnode) {
        el.eventOnClick = function (event) {
          // Check that the click was outside the el and its children, and wasn't a drag
          if (!(el === event.target || el.contains(event.target))) {
            // call method provided in attribute value
            vnode.context[binding.expression](event)
          }
        }
        document.addEventListener('click', el.eventOnClick)
        document.addEventListener('touchend', el.eventOnClick)
      }
    }
  },
  data () {
    return {
      focusSearch: false,
      historyPanel: false,
      searchNewsData: '',
      burgerMenu: false,
      dropdownClicked: false,
      menuSize: 2,
      historySearch: [],
      categoryMenuList: [],
      slidingMenuList: [
        {
          label: 'Berita Nasional',
          slug: 'berita-nasional'
        },
        {
          label: 'Olahraga',
          slug: 'olahraga'
        },
        {
          label: 'Sci-Tech',
          slug: 'sci-tech'
        },
        {
          label: 'Lifestyle',
          slug: 'lifestyle'
        },
        {
          label: 'Games',
          slug: 'games'
        }
      ]
      // listHistory: JSON.parse(localStorage.getItem('history'))
    }
  },
  created () {
    this.getMenuCategory()
    this.categoryMenuList = this.$store.state.navbarMenu
    if (this.$route.query.key !== undefined) {
      const history = JSON.parse(localStorage.getItem('ChatAjaNews_history'))
      if (history === null) {
        this.historySearch.push(this.$route.query.key)
      } else {
        this.historySearch = JSON.parse(localStorage.getItem('ChatAjaNews_history'))
      }
    } else {
      if (JSON.parse(localStorage.getItem('ChatAjaNews_history')) === null) {
        localStorage.setItem('ChatAjaNews_history', JSON.stringify(this.historySearch))
      } else {
        this.historySearch = JSON.parse(localStorage.getItem('ChatAjaNews_history'))
      }
    }
  },
  methods: {
    ...mapActions({
      getMenuCategory: 'getMenuCategory'
    }),
    swipeHandler (direction) {
      console.log(direction) // May be left / right / top / bottom
    },
    hideHistoryPanel () {
      this.historyPanel = false
      this.focusSearch = false
    },
    closeFocus () {
      this.focusSearch = false
    },
    removeHistory (item) {
      const arrOfHistory = JSON.parse(localStorage.getItem('ChatAjaNews_history'))
      const getHistory = arrOfHistory.indexOf(item)
      if (getHistory !== -1) {
        arrOfHistory.splice(getHistory, 1)
        this.historySearch.splice(getHistory, 1)
      }
      localStorage.setItem('ChatAjaNews_history', JSON.stringify(arrOfHistory))
    },
    searching () {
      if (this.historySearch.indexOf(this.searchNewsData) === -1) {
        this.historySearch.push(this.searchNewsData)
      }
      localStorage.setItem('ChatAjaNews_history', JSON.stringify(this.historySearch))
      this.historyPanel = false
      this.$router.push({ name: 'Search', query: { key: this.searchNewsData } })
    },
    clearHistory () {
      this.historySearch = []
      this.searchNewsData = ''
      localStorage.setItem('ChatAjaNews_history', JSON.stringify(this.historySearch))
    }
  },
  watch: {
    focusSearch () {
      if (this.focusSearch === false) {
        this.searchNewsData = ''
        this.historyPanel = false
      }
    },
    $route () {
      this.historySearch = JSON.parse(localStorage.getItem('ChatAjaNews_history'))
      this.historyPanel = false
    }
  }
}
</script>
<style lang="scss" scoped>
section#historyModal{
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  @media (max-width: 768px) {
    top: 42px;
    padding: 2%;
  }
  .modal-content {
    width: 600px;
    height:200px;
    background-color: #fefefe;
    margin: 11% auto;
    border-radius: 10px;
    max-width: 100%;
    .modal-title{
      border-radius: 10px 10px 0px 0px;
      background: #F3F3F3;
      padding:20px;
      color:#979797;
      font-weight: bold;
      font-size:12px;
      p.pointer {
        font-weight: normal;
        &:hover{
          font-weight: bold;
        }
      }
    }
    .modal-body{
      padding: 18px;
    }
  }
}
.navbar-item {
  img {
    max-height: unset;
  }
}
.control.has-icons-left .icon, .control.has-icons-right .icon{
  pointer-events: visible;
}
.navbar-brand{
  .is-flex.w-100{
    .buttons{
      a.button{
          border-radius: 10px;
          font-size:14px;
          margin-left:4px;
      }
    }
  }
}
.navbar-menu{
    .control{
        width: 100%;
    }
    .control.has-icons-right{
        .icon{
            color: #979797
        }
    }
}
.is-flex-50{
  flex: 0 0 50%;
}
.d-flex{
  display:flex;
  .dropdown.is-active{
    color: #979797;
    .dropdown-menu{
      min-width: unset;
      width:768px;
      .columns{
        .column{
          a{
            line-height: 3.5;
            text-align: center;
            color:#979797;
          }
        }

      }
    }
  }
  .wrappingMenuCategory{
    overflow-x: hidden;
    position: relative;
    bottom: 9px;
    .is-flex.is-justify-content-space-between {
      position: relative;
      top: 10px;
      .buttonNextPrev {
        z-index:20;
        background:rgba(0, 0, 0, 0.2); color:#FFF;
        width: 20px;
      }
    }
    .navbar-start{
      position: relative;
      bottom:25px;
      padding: 0 15px 0 15px;
    }
  }
  .btnCategory{
    border:transparent;
    &:focus:not(:active){
      box-shadow: unset;
    }
  }
}
</style>
