<template>
  <section>
    <div v-for="index in 2" :key="index.id" class="mb-5">
      <b-skeleton height="240px" :active="loader"></b-skeleton>
      <b-skeleton :active="loader"></b-skeleton>
      <b-skeleton width="70px" :active="loader"></b-skeleton>
    </div>
    <div class="is-flex is-flex-wrap-wrap mt-4">
      <div class="mb-4 is-flex-50 pr-3" v-for="item in $store.state.popular.odd" :key="item.id" v-show="!loader">
        <a :href="item.url" :title="item.title" class="card-content pl-0">
            <div class="card-image frame is-flex">
                <figure class="mx-auto">
                    <img :src="item.urlToImage" />
                </figure>
            </div>
            <div class="content p-4">
                <p class="title is-6 mb-0" :title="item.title">{{item.title}}</p>
                <p class="publisher">{{item.source.name}}</p>
            </div>
        </a>
      </div>
    </div>
    <b-button type="is-info" outlined expanded tag="a" href="/berita-populer">Lihat Lebih</b-button>
  </section>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  data () {
    return {
      loader: true
    }
  },
  created () {
    this.$store.state.popular.even.length = 0
    this.$store.state.popular.odd.length = 0
    this.getPopArticle().then(() => {
      // if (this.$store.state.popular.even.length > 0 && this.$store.state.popular.odd.length > 0) {
      this.loader = !this.loader
      // }
    })
  },
  methods: {
    ...mapActions({
      // Sementara pakai yang getHeadline
      getPopArticle: 'getPopArticle'
    })
  }
}
</script>
<style lang="scss" scoped>
.is-flex-50 {
  flex-basis: 50%;
}
    .frame{
        // height: 240px;
        // background-color: #F3F3F3;
        figure {
          img{
            height: 240px;
          }
        }
    }
    a {
      .content {
        p.title{
          &:hover {
            color: #2F80ED;
          }
        }
      }
    }
</style>
