<template>
  <section id="errorHandling" v-if="!loader">
    <section id="errorInfo" class="has-text-centered">
      <figure class="my-4">
            <img src="@/assets/search_notfound.png"/>
      </figure>
      <h2>{{msg}}</h2>
    </section>
    <!-- Terjadi Error, data ke dobel ketika component di panggil -->
    <section id="popNews" v-if="fromSearch">
      <hr class="separator">
      <PopularArticle/>
    </section>
  </section>
</template>
<script>
import PopularArticle from '@/components/homepage/popularArticle.vue'
export default {
  props: ['msg', 'fromSearch', 'loader'],
  components: {
    PopularArticle
  }
}
</script>
