<template>
  <section class="mt-4">
    <div class="columns is-mobile px-3">
      <div class="column">
        <div v-for="index in 2" :key="index.id" class="mb-5">
          <b-skeleton height="240px" :active="loader"></b-skeleton>
          <b-skeleton :active="loader"></b-skeleton>
          <b-skeleton width="70px" :active="loader"></b-skeleton>
        </div>
      </div>
      <div class="column">
        <div v-for="index in 2" :key="index.id" class="mb-5">
          <b-skeleton height="240px" :active="loader"></b-skeleton>
          <b-skeleton :active="loader"></b-skeleton>
          <b-skeleton width="70px" :active="loader"></b-skeleton>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: ['loader']
}
</script>
