<template>
  <section>
    <h1 class="title is-4 pl-4">Berita Populer</h1>
    <OddEvenLoaderCards :loader="loader"/>
    <div class="columns is-mobile mt-4 px-4">
          <div class="column">
            <section id="odd">
              <div class="card mb-4" v-for="item in firstLoad.odd" :key="item.id">
                  <a :href="item.link[0]" :title="item.title[0]" class="card-content pl-0">
                      <div class="card-image frame is-flex">
                          <figure class="mx-auto">
                              <img :src="item.img" />
                          </figure>
                      </div>
                      <div class="content p-4">
                          <p class="title is-6 mb-0" :title="item.title[0]">{{item.title[0]}}</p>
                          <p class="publisher">{{item.from}}</p>
                      </div>
                  </a>
              </div>
              <div class="card mb-4" v-for="item in moreItems.odd" :key="item.id">
                  <a :href="item.link[0]" :title="item.title[0]" class="card-content pl-0">
                      <div class="card-image frame is-flex">
                          <figure class="mx-auto">
                              <img :src="item.img" />
                          </figure>
                      </div>
                      <div class="content p-4">
                          <p class="title is-6 mb-0" :title="item.title[0]">{{item.title[0]}}</p>
                          <p class="publisher">{{item.from}}</p>
                      </div>
                  </a>
              </div>
              <div v-for="index in 1" :key="index.id" class="mb-5">
                <b-skeleton height="240px" :active="loaderMore"></b-skeleton>
                <b-skeleton :active="loaderMore"></b-skeleton>
                <b-skeleton width="70px" :active="loaderMore"></b-skeleton>
              </div>
          </section>
          </div>
          <div class="column">
           <section id="even">
              <div class="card mb-4" v-for="item in firstLoad.even" :key="item.id">
                  <a :href="item.link[0]" :title="item.title[0]" class="card-content pl-0">
                      <div class="card-image frame is-flex">
                          <figure class="mx-auto">
                              <img :src="item.img" />
                          </figure>
                      </div>
                      <div class="content p-4">
                          <p class="title is-6 mb-0" :title="item.title[0]">{{item.title[0]}}</p>
                          <p class="publisher">{{item.from}}</p>
                      </div>
                  </a>
              </div>
              <div class="card mb-4" v-for="item in moreItems.even" :key="item.id">
                  <a :href="item.link[0]" :title="item.title[0]" class="card-content pl-0">
                      <div class="card-image frame is-flex">
                          <figure class="mx-auto">
                              <img :src="item.img" />
                          </figure>
                      </div>
                      <div class="content p-4">
                          <p class="title is-6 mb-0" :title="item.title[0]">{{item.title[0]}}</p>
                          <p class="publisher">{{item.from}}</p>
                      </div>
                  </a>
              </div>
              <div v-for="index in 1" :key="index.id" class="mb-5">
                <b-skeleton height="240px" :active="loaderMore"></b-skeleton>
                <b-skeleton :active="loaderMore"></b-skeleton>
                <b-skeleton width="70px" :active="loaderMore"></b-skeleton>
              </div>
            </section>
          </div>
    </div>
     <Footer/>
  </section>
</template>
<script>
import OddEvenLoaderCards from '@/components/utilities/oddEvenCards.vue'
import Footer from '@/components/Footer.vue'
import { mapActions } from 'vuex'
export default {
  components: {
    OddEvenLoaderCards,
    Footer
  },
  data () {
    return {
      loader: true,
      loaderMore: true,
      firstLoad: {
        even: [],
        odd: []
      },
      moreItems: {
        even: [],
        odd: []
      },
      page: 0,
      totalPage: 0,
      perPage: {
        odd: 2,
        even: 2
      },
      start: 0
    }
  },
  created () {
    setTimeout(() => {
      this.getPopularItem().then(() => {
        for (var i = 0; i < 2; i++) {
          this.firstLoad.even.push(this.$store.state.popularItems.popular.even[i])
          this.firstLoad.odd.push(this.$store.state.popularItems.popular.odd[i])
        }
      })
      this.loader = !this.loader
    }, 30 * 100)
  },
  mounted () {
    document.addEventListener('scroll', () => {
      if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        if (this.page < this.totalPage) {
          this.page++
          this.loadMore()
        }
      }
    })
    this.loadMore()
  },
  methods: {
    ...mapActions({
      getPopularItem: 'getPopularItem'
    }),
    paginateOdd (items) {
      this.start = this.perPage.odd * this.page
      this.moreItems.odd = items.slice(3, this.start + this.perPage.odd)
    },
    paginateEven (items) {
      this.start = this.perPage.even * this.page
      this.moreItems.even = items.slice(3, this.start + this.perPage.even)
    },
    loadMore () {
      this.loaderMore = true
      setTimeout(() => {
        this.paginateOdd(this.$store.state.popularItems.popular.odd)
        this.paginateEven(this.$store.state.popularItems.popular.even)
        this.totalPage = Math.ceil(this.$store.state.popularItems.popular.even.length / 2)
        this.loaderMore = false
      }, 3000)

      // return this.nasionalItem
    }
  }
}
</script>
<style lang="scss" scoped>
.frame{
  figure {
    img{
      height: 240px;
    }
  }
}
</style>
